<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.3.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<!-- DAO定義 -->
	<bean id="batchRequestDao" class="jp.go.jfc.partnernet.pnfw.batch.dao.PNBatchRequestTblDAOImpl">
		<property name="dataSource" ref="dataSourceWeb" />
	</bean>

	<bean id="batchManagementDao" class="jp.go.jfc.partnernet.pnfw.batch.dao.PNBatchManagementTblDAOImpl" scope="prototype">
		<property name="dataSource" ref="dataSourceWeb" />
	</bean>

	<bean id="requestIdNumberingDAO" class="jp.go.jfc.partnernet.pnfw.batch.dao.PNRequestIdNumberingDAOImpl" scope="prototype">
		<property name="dataSource" ref="dataSourceWeb" />
	</bean>

	<bean id="onBatchUtils" parent="txProxyTemplate">
		<property name="target">
			<bean class="jp.go.jfc.partnernet.pnfw.batch.online.PNOnBatchUtilsImpl" scope="prototype">
				<property name="dataSource" ref="dataSourceWeb" />
			</bean>
		</property>
	</bean>

</beans>
