@charset "UTF-8";
/* Style Sheet for Partner Net */
/* last modified : 2004/07/14  */

/* Environment

   OS:Windows 2000 Server, Windows XP Professional
   Browser:Internet Explorer 6.0 SP1
	 Display: 1024x768, 16bpp

 */
/* Layout

 +-----+----------------------------+
 |menu |header                      |
 |     +----------------------------+
 |     |navigator                   |
 |     +----------------------------+
 |     |main                        |
 |     |                            |
 |     +----------------------------+
 |     |footer                      |
 +-----+----------------------------+

*/

/* Format

 (class name) {
				 height, width
				 display, float
				 color, background-color
				 margin
				 padding
				 font, text
				 border
 }

 */

/* global */
body {
				color:black;
				background-color:white;
				margin-top:0px;
				margin-left:0px;
				margin-right:0px;
				padding:0px;
}

div.menu {
				color:black;
				background-color:ghostwhite;
				margin-top:0px;
				margin-left:0px;
				border:solid 1px green;
				overflow-y:hidden;
}

/* header section */
/* タイトル部 */
div.header {
				color:white;
				background-color:green;
				margin-top:0px;
				margin-left:0px;
				padding-top:5px;
				padding-left:10px;
				padding-bottom:5px;
}

div.header div.title {
				font-size:16px;
}

/* navigator section */
div.navigator {
				color:black;
				background-color:#66cc66;
				padding-top:3px;
				padding-left:20px;
				padding-bottom:3px;
}

/* main section */
div.main {
				/* height:600px; */
				width:716px;
				color:Black;
				background-color: White;
				margin-top:15px;
				margin-left:20px;
				margin-right:30px;
				margin-bottom:15px;
				padding-top:20px;
				padding-left:10px;
				padding-right:20px;
				font-size: 12px;
}



div.main span#lblErr {
				color:red;
				margin-top:12px;
				margin-bottom:12px;
				font-weight:bold;
}

div.main span#lblErrMsg {
				color:red;
				margin-top:12px;
				margin-bottom:12px;
				font-weight:bold;
}

div.main div.printer {
				text-align:right;
				border-width:0px;
				font-size:10px;
}


div.main input#txtID_t {
				background-color:#cccccc;
}

div.main div.finishedMessage {
				margin-left:20px;
				font-weight:bold;
}


/****************************************/


div.main div.status
{
				color:black;
				margin:3px 0 3px 0;
				margin-left:100px;
				margin-left:100px;
}

div.main div.status span.errorMessage {
				color:red;
				font-weight:bold;
}

div.main div.status div.finishedMessage {
				color:#000080;
				font-weight:bold;
}

div.main div.buttons {
				margin-top:12px;
				margin-bottom:12px;
/* 				2015/09/16 変更 */
/* 				margin-left:445px; */
				margin-left:520px;

}

div.main TABLE {
				background-color:#fff;
				margin-bottom:10px;
				font-size:14px;
				border:0;
				margin-left:100px;
}

/*
div.main TABLE TD.entry {
				padding:10px;
				text-align:left;
}
*/



/*************************************************/


div.main div.errorReason {
				color:#333333;
				margin-top:15px;
				margin-left:25px;
}

div.main div.greeting
{
				/* width:65%;
				margin-top:8px;*/
				width:80%;
				margin-top:5px;
				margin-left:100px;
}

div.main div.subtitle
{
	border-bottom: solid 2px green;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

div.main div.leftpain {
				float:left;
}

div.main div.line {
				clear:both;
				font-size:11px;
				margin-top:20px;
}

div.main TD {
				padding:10px;
				text-align:left;
				/*background-color:white;*/
				background-color:#ffff66;
				border:solid 1px gray;
}

div.main TABLE.login {
				width:300px;
}

div.main TABLE TD.login {
				text-align:left;
				border-width:0px;
}

div.main TABLE TD.isReport {
				color:blue;
				background-color:white;
				text-align:left;
}

div.main TABLE TD.spacer {
				height:8px;
				background-color:#cccc99;
}

div.main TABLE TD.item-title {
				background-color:#99cc99;
				padding:3px;
				border-width:0px;
}

div.main div.item
{
				background-color:#ccff99;
				float:left;
				margin:1px;
				padding:5px;
				font-size:12px;
				/* border:solid 1px black; */
}

div.main div.item-output
{
				background-color:#ccffcc;
				float:left;
				margin:1px;
				padding:5px;
				font-size:12px;
				line-height:1.4em;
				/* border:solid 1px black; */
}

div.main div.item-input
{
				background-color:#ffff66;
				float:left;
				margin:1px;
				padding:5px;
				font-size:12px;
				line-height:1.4em;
				/* border:solid 1px black; */
}

div.main div.annotation {
				width:294px;
				background-color:aliceblue;
				font-size:10px;
				border:solid 1px red;
}

div.main div.annotation div.title {
				border-bottom:solid 1px navy;
}

div.main div.content {
				clear:both;
				margin-top:5px;
}

/* footer section */
div.footer {
				color:white;
				background-color:green;
				margin-top:0px;
				margin-left:0px;
				margin-bottom:0px;
				padding-top:3px;
				padding-left:10px;
				padding-right:3px;
				padding-bottom:3px;
				font-size:small;
				text-align:right;
}

/* Table */
div.main div.tbl TABLE
{
				width:50%;
				text-align:left;
				background-color:white;
				border-width:0px;
				border:0;
}

div.main div.tbl TD {
				text-align:left;
				background-color:white;
				font-size:12px;
				border-width:0px;
				border:0;
}


/*----*/
div.tbl1 TABLE {
				width:80%;
				background-color:white;
				font-size:12px;
				border-width:1px;
				border:1;
				margin-top:5px;
				margin-left:5px;
}

/*
div.tbl1 TABLE TD.recordHeader {
				text-align:center;
				background-color:#ccffcc;
				padding-left:5px;
				font-family:sans-serif, monospace;
				font-size:12px;
}
*/

div.tbl1 TABLE TD.ItemStyle {
				text-align:Left;
				padding-left:5px;
}

div.tbl1 TABLE TR.PagerStyle{
				text-align:left;
				/*
				color:#003399
				background-color:#ccffcc;
				*/
				color:Red
				background-color:Red
}

div.main div.report div.tbl2 TABLE {
				width:100%;
				/*text-align:left;*/
				background-color:white;
				font-size:10px;
				border-width:1px;
				border:1;
				margin-top:5px;
				margin-left:5px;
				margin-bottom:1px;
}

div.main div.report div.tbl2 TABLE TD.recordHeader {
				text-align:center;
				background-color:#ccffcc;
				padding-left:5px;
				font-family:sans-serif, monospace;
				font-size:10px;
}

div.main div.report div.tbl3 TABLE {
				width:90%;
				/*text-align:left;*/
				background-color:white;
				font-size:10px;
				border-width:1px;
				border:1;
				margin-top:1px;
				margin-left:5px;
				margin-bottom:1px;
}

div.main div.report div.tbl3 TABLE TD.recordHeader {
				text-align:center;
				background-color:#ccffcc;
				padding-left:5px;
				font-family:sans-serif, monospace;
				font-size:10px;
}

div.main div.report div.tbl4 TABLE {
				width:35%;
				/*text-align:left;*/
				background-color:white;
				font-size:10px;
				border-width:1px;
				border:1;
				margin-top:1px;
				margin-left:5px;
				margin-bottom:1px;
}

div.main div.report div.tbl4 TABLE TD.recordHeader {
				text-align:center;
				background-color:#ccffcc;
				padding-left:5px;
				font-family:sans-serif, monospace;
				font-size:10px;
}

div.main div.report div.tbl5 TABLE {
				width:60%;
				/*text-align:left;*/
				background-color:white;
				font-size:12px;
				border-width:1px;
				border:1;
				margin-top:15px;
				margin-left:10px;
				line-height:0.8em;
}

div.main div.report div.tbl5 TABLE TD.recordHeader {
				text-align:center;
				background-color:#ccffcc;
				padding-left:5px;
				font-family:sans-serif, monospace;
				font-size:12px;
}


div.main div.item2
{
				background-color:White;
				float:left;
				margin:1px;
				padding:1px;
				font-size:12px;
				line-height:1.4em;
				/*
				border:solid 1px black;
				*/
}

/* Table(共通) */
/*
div.main TABLE TD.recordHeader1 {
				text-align:center;
				background-color:#ffff66;
				padding-left:5px;
				font-family:sans-serif, monospace;
				font-size:10px;
}

div.main TABLE TD.recordHeader2 {
				text-align:center;
				background-color:#ccffcc;
				padding-left:5px;
				font-family:sans-serif, monospace;
				font-size:10px;
}
div.main TABLE TD.recordHeader,
*/

div.main .tblResults
{
	font-size: 12px;
	width: 97%;
	margin: 10px 10px 10px 10px;
	word-break: break-all;

}

div.main .tblResults TD.Header
{
	text-align:center;
	background-color:#ccffcc;
}

div.main .tblResults TD.DateHeader,
div.main .tblResults TD.NumHeader
{
	width: 130px;
	text-align:center;
	background-color:#ccffcc;
}


div.main .tblResults TD.DateItem,
div.main .tblResults TD.NumItem
{
	width: 130px;
	text-align:center;
}


div.main TH
{
	background-color:White;
}

div.main div.btn
{
	text-align:right;
}

div.main TD.DataCell
{
	padding-bottom:40px	;
}
